h1 {
  background-color: burlywood;
}

#target {
  background-color: tomato;
  width: 50vw;
  height: 50vh;
}

#a {
  width: 300px;
  height: 300px;
  border: 3px solid black;
}

#b {
  width: 50%;
  height: 50%;
  background-color: gray;
}

/* 인라인 요소는 size를 조절 불가 블럭요소 바꿔주는 작업 필요(display) */
span {
  background-color: green;
  /* inline block --size 설정도 가능 하고 block처럼 자리 배치도 가능 */
  display: inline-block;
  width: 50px;
  height: 50px;

  border-radius: 10px;
}
back > span {
  border: 1px solid red;
}
